@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  /* padding: 0 10%; */
  font-family: "Inter", sans-serif;
  /* background-color: black; */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
/* Shared Styles */
.upad {
  padding: 0 10%;
}
.primary {
  color: #e6533c;
}
.btn-primary {
  background-color: transparent;
  padding: 16px 40px;
  border-radius: 42px;
  color: white;
  border: 1px solid white;
}
.btn-active {
  background-color: #e6533c;
  padding: 16px 40px;
  border-radius: 42px;
  color: white;
  border: none;
}
/* Training */
.training-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.tcards {
  position: relative;
  color: white;
}
.t-bottom-left {
  position: absolute;
  left: 24px;
  bottom: 27.5px;
}
.t-top-left {
  position: absolute;
  top: 25px;
  left: 31px;
}
.t-top-right {
  position: absolute;
  top: 25px;
  right: 31px;
}
.tcard-text {
  font-size: 14px;
  font-weight: 400;
}
/* Team */
.team-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.team-members {
  position: relative;
  color: white;
}
.bottom-left {
  position: absolute;
  left: 19px;
  bottom: 1rem;
}
.head-team {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 600;
}
.bottom-team {
  font-size: 14px;
  font-weight: 200;
}

/* Footer */
footer {
  background-color: #191919;
}
footer h2 {
  font-size: 2rem;
  font-weight: bold;
}
.footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  color: white;
  text-align: left;
  padding: 5% 0;
  gap: 10%;
}
footer a {
  color: rgba(255, 255, 255, 0.5);
}
.footer ul {
  padding: 0;
}
.footer ul li {
  margin-bottom: 20px;
}
.footer-left {
  width: 70%;
}
.footer-logo {
  font-size: 70px;
  color: #e6533c;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}
.copyright {
  padding: 3%;
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

/* Medium Size Device */
@media screen and (max-width: 62rem) {
  body {
    background-color: blue;
  }
  .upad {
    padding: 0 5%;
  }
  .footer {
    gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .footer-left {
    grid-column: span 2; /* Make the first item span both columns */
  }

  .footer-mid {
    grid-column: 1; /* Place the second item in the first column */
  }

  .footer-right {
    grid-column: 2; /* Place the third item in the second column */
  }
}
/* Small Size Device */
@media screen and (max-width: 36rem) {
  body {
    background-color: red;
  }
  .footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
  }
  .upad {
    padding: 0 2%;
  }
}
