@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  /* padding: 0 10%; */
  font-family: "Inter", sans-serif;
  background-color: red;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
form {
  font-size: 1rem;
  margin-top: 34px;
  margin-bottom: 10%;
}
input,
select {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #383838;
  border-radius: 8px;
  background-color: #383838;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}
/* Shared Styles */
.upad {
  padding-left: 10%;
  padding-right: 10%;
}
.primary {
  color: #e6533c;
}
.btn-primary {
  background-color: transparent;
  padding: 16px 40px;
  border-radius: 42px;
  color: white;
  border: 1px solid white;
}
.btn-active {
  background-color: #e6533c;
  padding: 16px 40px;
  border-radius: 42px;
  color: white;
  border: none;
}
h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 0.875rem;
  margin-top: 0;
}
h3 {
  font-size: 1.75rem;
  color: white;
  margin-bottom: 0.875rem;
}
.description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
}
/* Excercizes */
.excercizes {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: red;
}
/* Extra Miles */
.extra-miles {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: red;
}
/* Training */
.training {
  padding-top: 5%;
  /* padding-bottom: 5%; */
  background-color: black;
}
.training-header {
  width: 50%;
  padding-bottom: 5%;
}
.training-cards-left {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  justify-items: center;
}
.training-cards-right {
  display: grid;
  grid-template-columns: 5fr 3fr 4fr;
  justify-items: center;
}
.training-cards-left img,
.training-cards-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tcards {
  position: relative;
  color: white;
}
.t-bottom-left {
  position: absolute;
  left: 24px;
  bottom: 27.5px;
}
.t-top-left {
  position: absolute;
  top: 25px;
  left: 31px;
}
.t-top-right {
  position: absolute;
  top: 25px;
  right: 31px;
}
.tcard-text {
  font-size: 14px;
  font-weight: 400;
}
.tcards .overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 255, 210, 0.5);
  pointer-events: none;
}
.tcards .overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
}
.tcards .overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.tcards .overlay4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 255, 0, 0.5);
  pointer-events: none;
}
.tcards .overlay5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 71, 255, 0.5);
  pointer-events: none;
}
/* BMI */
.bmi {
  padding-top: 5%;
  background-color: black;
}
.bmi-header {
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
.bmi-extra {
  background-color: #222222;
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
}
table {
  margin: 15% 0;
}
table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 1rem 1.25rem;
  text-align: left;
  color: white;
}
td {
  color: rgba(255, 255, 255, 0.5);
}
button {
  cursor: pointer;
}
.two-input {
  display: flex;
  gap: 2%;
}
.bmi-form-control {
  flex: 1; /* This makes both inputs take up equal space */
}
.one-input {
  margin-bottom: 34px;
}
/* Team */
.team {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: black;
}
.team-header {
  text-align: center;
  margin-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
}
.team-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #191919;
  margin: 0px auto;
  gap: 1.25rem;
  padding: 1.25rem;
  border-radius: 1.125rem;
}
.team-members {
  position: relative;
  color: white;
}
.team-members img {
  border-radius: 1.125rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.bottom-left {
  position: absolute;
  left: 19px;
  bottom: 1rem;
}
.head-team {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 600;
}
.bottom-team {
  font-size: 14px;
  font-weight: 200;
}

/* Footer */
footer {
  background-color: #191919;
}
footer h2 {
  font-size: 2rem;
  font-weight: bold;
}
.footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  color: white;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 10%;
}
footer a {
  color: rgba(255, 255, 255, 0.5);
}
.footer ul {
  padding: 0;
}
.footer ul li {
  margin-bottom: 20px;
}
.footer-left {
  width: 70%;
}
.footer-logo {
  font-size: 70px;
  color: #e6533c;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 20px;
}
.copyright {
  padding: 3%;
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.hidden {
  display: visible;
}
/* Medium Size Device */
@media screen and (max-width: 62rem) {
  body {
    background-color: blue;
  }
  .upad {
    padding-left: 5%;
    padding-right: 5%;
  }
  .training-header {
    width: 90%;
  }
  .bmi-extra {
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .bmi-header {
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .team-header {
    padding: 0;
  }
  .footer {
    gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  table {
    margin: 10% 0;
  }
  .footer-left {
    grid-column: span 2; /* Make the first item span both columns */
  }

  .footer-mid {
    grid-column: 1; /* Place the second item in the first column */
  }

  .footer-right {
    grid-column: 2; /* Place the third item in the second column */
  }
  .hidden {
    display: visible;
  }
}
/* Small Size Device */
@media screen and (max-width: 36rem) {
  body {
    background-color: red;
  }
  table {
    margin: 2% 0;
  }
  .hidden {
    display: none;
  }
  .training-cards-left {
    display: grid;
    grid-template-columns: 5fr 5fr;
    justify-items: center;
  }
  .training-cards-right {
    display: grid;
    grid-template-columns: 4fr 5fr;
    justify-items: center;
  }
  .training-header {
    width: 100%;
  }
  .team-header {
    padding: 0;
  }
  .bmi-header {
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .bmi-extra {
    padding-left: 2%;
    padding-right: 2%;
    gap: 1%;
  }
  .team-gallery,
  .bmi-extra {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
  }
  .footer-left {
    grid-column: 1; /* Make the first item span both columns */
  }

  .footer-mid {
    grid-column: 1; /* Place the second item in the first column */
  }

  .footer-right {
    grid-column: 1; /* Place the third item in the second column */
  }
  .upad {
    padding-left: 2%;
    padding-right: 2%;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
